.column {
    float: left;
    width: 15%;
    margin-bottom: 16px;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


/* Add some shadows to create a card effect */

.card {
    box-shadow: 0 4px 8px 0 rgb(247, 247, 247);
}


/* Some left and right padding inside the container */

.container {
    padding: 0 16px;
}


/* Clear floats */

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
    font-size: 0.8rem;
}

.image_users {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #277F82;
}

.collapsible {
    background-color: #277F82;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
}

.active,
.collapsible:hover {
    background-color: #81b5ba;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 55%;
    /* background-color: rgb(241, 241, 241); */
}

.card_executive {
    background: rgba(82, 82, 82, 0.08);
    box-shadow: 0 6px 10px rgba(38, 37, 37, 0.08), 0 0 6px rgba(18, 17, 17, 0.05);
    border: 1;
    border-radius: 1rem;
    height: 20%;
    width: 95%;
}


/* executive */

.row_executive {
    display: flex;
    justify-content: space-around;
}

.section-header h3 {
    font-size: 36px;
    color: #277F82;
    text-align: center;
    font-weight: 500;
    position: relative;
    font-family: 'Roboto';
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 25px;
    padding-bottom: 60px;
    color: #277F82;
    width: 50%;
    font-family: 'Roboto';
}

.user_name {
    font-size: 0.8rem;
    color: #283d50;
    text-align: center;
    position: relative
}

.fadeInUp {
    animation-name: fadeInUp
}

.member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden
}

.member .member-info {
    opacity: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.2s
}

.member .member-info-content {
    margin-top: 50px;
    transition: margin 0.2s;
}

.member:hover .member-info {
    background: rgba(0, 122, 128, 0.7);
    opacity: 1.5;
    transition: 0.4s;
    height: 100%;
    width: 100%;
    border-radius: 50%
}

.member img {
    height: 200px;
    width: 200px;
    border-radius: 50%
}

.title_executive {
    color: rgb(206, 198, 198);
    font-size: 0.8rem;
    font-family: 'Roboto';
}

h2.roboto {
    font-family: 'Roboto';
}